<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iconodigital.corcholibre">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <uses-sdk
        android:maxSdkVersion="24"
        android:minSdkVersion="21"
        android:targetSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--<meta-data android:name="android.support.multidex.MultiDexApplication"/>-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.iconodigital.corcholibre.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.iconodigital.corcholibre.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity
            android:name="com.iconodigital.corcholibre.ProductDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_product_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iconodigital.corcholibre.Add_to_list"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_to_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iconodigital.corcholibre.ListItemsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/List_item_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.iconodigital.corcholibre.Alert_list_activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/List_item_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.iconodigital.corcholibre.appFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.iconodigital.corcholibre.appFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.iconodigital.corcholibre.splash"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="SPLASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>